/.ipynb_checkpoints
/.vscode
/Autogit
/build
/desktop.ini
/dist
/Download file from internet.ipynb
/google api
/Lock Screen Prevent.ipynb
/MESH_CONNECT
/pdf-merger.csv
/sap-pics
/sapauto.ipynb
/screenshot to pdf.ipynb
/Socket Programming.ipynb
/step-environment.yml
/vimeo-download
/__pycache__